<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Welcome 1</h1>
	<h2 th:utext="${message}">..!..</h2>

	<!--  
         <a th:href="@{/order/list}">
         If our app is installed at http://localhost:8080/myapp, this URL will output:
         <a href="/myapp/order/list">   
         -->
	<h3>MainController.java:</h3>
	<a th:href="@{/personList}">Person List</a>
	<br>
	<br>


</body>

</html>