<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Thymleaf Guide</h1>
	
	<a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#standard-expression-syntax"> guide from Home page</a>
	<br>
	
	<a th:href="@{/variable}">show variable</a>
	<br>
	<a th:href="@{/basicObject}">show basic Object</a>
	<br>
	<a th:href="@{/utilityObject}">show utility Object</a>


</body>

</html>